export(eq_clean_data)
export(eq_location_clean)
export(eq_map)
export(eq_create_label)
export(geom_timeline_label)
export(geom_timeline)
export(GeomTimeline)
export(GeomTimelineLabel)
export(stat_timeline)
export(stat_timeline_label)
export(StatTimeline)
export(StatTimelineLabel)
exportPattern("^[[:alpha:]]+")
import(dplyr)
import(magrittr)
import(ggplot2)
import(leaflet)
import(lubridate)
